@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  background-image: url(./images/backgroundTexture.jpg);
}

.navBar {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline;
}

.logo img {
  width: 20vw;
}

.menuListContainer {
  display: inline;
}

.menuListContainer img {
  width: 20vw;
  margin-left: 2vw;
}

.homeContainer {
  /* text-align: justify; */
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-top: -2vw;
}

.tituloHome {
  font-size: 4.9vw;
  font-family: "Dancing Script", cursive;
}

.parrafoHome {
  margin-top: -9vw;
  font-size: 4.7vw;
  width: 90vw;
  font-family: "Shadows Into Light", cursive;
}

.enlaceH {
  margin-top: -6vw;
  margin-left: 33.33%;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: black;
  width: 30vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.yellow {
  margin-left: 3%;
  margin-top: 1.5vw;
  color: yellow;
}

.red {
  margin-left: 73%;
  margin-top: -12.2vw;
  color: red;
}

.tinyText {
  position: absolute;
  font-size: 2vw;
  margin-left: 36.5%;
  margin-top: 1.5vw;
}

.tituloCardPicker {
  text-align: justify;
  font-family: "Dancing Script", cursive;
  font-size: 5vw;
  width: 90vw;
  height: 5vw;
  margin-left: 2vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cuerpoCardPicker {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.liCardPicker {
  font-size: 5vw;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
}

.aboutContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.card img {
  height: 50vw;
}

h3 {
  margin-top: -3vw;
}

.cardList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vw;
  width: 80vw;
  height: 70vh;
  border: 2px solid black;
  text-align: center;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.cardList li {
  font-size: 1.5vw;
  font-weight: 600;
  margin: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 1vw;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 30vw;
  font-size: 4vw;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
}

.footer {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 3vw;
  font-size: 4vw;
  font-family: "Shadows Into Light", cursive;
  width: 90vw;
  height: 3vw;
}

@media (min-width: 1000px) {
  .card img {
    height: 20vw;
    margin-left: -2.5vw;
    margin-top: -1vw;
  }

  h3 {
    margin-top: -4vw;
    font-size: 3vw;
  }

  .cardList {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    width: 80vw;
    height: 40vh;
    border: 2px solid black;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .cardList li {
    margin-top: -2vw;
    font-weight: 600;
    margin: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 8vw;
    font-size: 1.3vw;
    font-weight: 600;
    font-family: "Shadows Into Light", cursive;
  }

  * {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: transparent;
    font-size: 6vw;
  }

  :root {
    background-image: url(./images/backgroundTexture.jpg);
    overflow-y: scroll;
  }

  .navBar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 25%;
  }

  .cardPickerLogo {
    width: 100%;
  }

  .menuListContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    list-style: none;
  }

  .menu-list {
    font-size: 6vw;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    list-style: none;
    width: 100%;
    z-index: 2000;
  }

  .homeButton {
    width: 20vw;
    position: absolute;
    margin-left: -27vw;
    z-index: 1000;
  }

  .cardPickerButton {
    width: 20vw;
    position: absolute;
    z-index: 1000;
  }

  .aboutButton {
    width: 20vw;
    position: absolute;
    margin-left: 27vw;
    z-index: 1000;
  }

  .homeContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 90vw;
    flex-direction: column;
  }

  .tituloHome {
    font-size: 4vw;
    width: 90vw;
    font-family: "Dancing Script", cursive;
  }

  .tituloCardPicker {
    text-align: justify;
    font-family: "Dancing Script", cursive;
    font-size: 5vw;
    width: 90vw;
    height: 5vw;
    margin-left: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .parrafoHome {
    font-size: 4vw;
    width: 90vw;
    font-family: "Shadows Into Light", cursive;
  }

  .cuerpoCardPicker {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .liCardPicker {
    font-size: 5vw;
    font-weight: 600;
    font-family: "Shadows Into Light", cursive;
  }

  .aboutContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .footer {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 3vw;
    font-size: 4vw;
    font-family: "Shadows Into Light", cursive;
    width: 90vw;
    height: 3vw;
  }
}
