@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  background-image: url(./images/backgroundTexture.jpg);
}

.navBar {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline;
}

.logo img {
  width: 20vw;
}

.menuListContainer {
  display: inline;
}

.menuListContainer img {
  width: 20vw;
  margin-left: 2vw;
}

.homeContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-top: -2vw;
}

.tituloHome {
  font-size: 4.9vw;
  font-family: "Dancing Script", cursive;
}

.parrafoHome {
  margin-top: -9vw;
  font-size: 4.7vw;
  width: 90vw;
  font-family: "Shadows Into Light", cursive;
}

.enlaceH {
  margin-top: -6vw;
  margin-left: 33.33%;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: black;
  width: 30vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.yellow {
  margin-left: 3%;
  margin-top: 1.5vw;
  color: yellow;
}

.red {
  margin-left: 73%;
  margin-top: -12.2vw;
  color: red;
}

.tinyText {
  position: absolute;
  font-size: 2vw;
  margin-left: 36.5%;
  margin-top: 1.5vw;
}

.cardPickerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.tituloCardPicker {
  margin-top: 6vw;
  font-family: "Dancing Script", cursive;
  font-size: 5vw;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.cargandoLinea {
  position: absolute;
  margin-left: -3.5vw;
  margin-top: 0vh;
  font-size: 4vw;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

.filterControls {
  outline: 2px solid black;
  text-align: center;
  line-height: 7.5vh;
}
.filterControls button {
  margin: 5px;
}

.filterControls button img {
  width: 30px;
  height: 30px;
}

.paginationContainer {
  outline: 2px solid black;
  text-align: center;
  line-height: 7.5vh;
}

table {
  width: 90vw;
}

table * {
  margin: 0px;
  padding: 0px;
  outline: 1px solid black;
}

table li {
  list-style-type: none; /*Esto rompe la tabla, por eso el siguiente truco: */
}

table li::before {
  /*Truco para que los bullets sean invisibles */
  content: "\2022";
  color: transparent;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.searchBar{
  position: absolute;
  margin-top: -13.4vw;
  margin-left: 2vw;
  font-size: 2.5vw;
  height: 3.5vw;
}

.searchBarTable{
  position: absolute;
  margin-top: -11.6vw;
  margin-left: 2vw;
  font-size: 2.5vw;
  height: 3.5vw;
}

.cardList {
  margin-left: auto;
  margin-right: auto;
  height: 55vh;
  overflow-y: scroll;
  padding: 0px;
  outline: 2px solid black;
}

.cardList li {
  font-size: 2vw;
  margin-top: 1.5vh;
  font-weight: 600;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  display: inline-block;
  width: 33.33%;
}

.cardList img {
  margin: 0px;
  padding: 0px;
  width: 20vw;
}

.pagination {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  list-style: none;
  display: flex;
  overflow: scroll;
}

.pagination button {
  margin: 0.1vw;
  height: 35px;
  width: 45px;
}

.pagination::-webkit-scrollbar {
  display: none;
}

.aboutContainer {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  margin-top: -2vw;
}

.tituloAbout {
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
}

.footer {
  font-size: 4.7vw;
  width: 90vw;
  font-family: "Shadows Into Light", cursive;
}
